$lightGreen: #b9e7e7;

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.app {
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url("/home/max/Documents/Coding/Forgotten sliver/ForgottenSliver/frontend/src/img/fond.jpg");

  .container {
    width: 100%;

    .link {
      text-decoration: none;
      color: inherit;
    }
    //LOGIN & REGISTER

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-image: url("/home/max/Documents/Coding/Forgotten sliver/ForgottenSliver/frontend/src/img/fond.jpg");

      h1 {
        font-size: 20px;
        color: rgb(0, 0, 0);
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: rgb(208, 198, 14);
          cursor: pointer;
          color: white;
        }

        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }

    //NAVBAR

    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #000000;
        .logo {
          img {
            width: 250px;
          }
        }
        .links {
          display: flex;
          align-items: center;
          gap: 10px;

          h6 {
            font-size: 14px;
            font-weight: 300;
            color: white;
          }

          span {
            cursor: pointer;
          }

          .write {
            background-color: red;
            color: white;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;

            &:hover {
              color: rgb(196, 142, 15);
              background-color: white;
              border: 1px solid rgb(182, 138, 3);
            }
          }
        }
      }
    }

    //FOOTER
    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: black;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      flex-direction: row;

      img {
        height: 50px;
      }
    }

    //HOME

    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 100px;

          .img {
            flex: 2;
            position: relative;

            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
            }
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
              font-size: 22px;
              color: rgb(0, 0, 0);
            }

            p {
              font-size: 18px;
            }

            .button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              background-color: rgb(244, 142, 8);
              border: 1px solid rgb(128, 43, 0);
              color: rgb(255, 255, 255);

              &:hover {
                border: 1px solid white;
                background-color: red;
                color: rgb(255, 255, 255);
              }
            }
          }
        }
      }
    }

    //SINGLE

    .single {
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }
        }

        .edit {
          display: flex;
          gap: 5px;

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
          color: #000000;
        }

        p {
          text-align: justify;
          line-height: 30px;
          color: rgb(0, 0, 0);
          font-size: 20px;
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          color: #000000;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          h2 {
            color: #555;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: rgb(255, 255, 255);
            background-color: rgb(244, 142, 8);
            border: 1px solid rgb(128, 43, 0);

            &:hover {
              border: 1px solid white;
              background-color: rgb(244, 142, 8);
              color: rgb(255, 255, 255);
            }
          }
        }
      }
    }

    //WRITE

    .add {
      margin-top: 20px;
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 50px;

        input {
          padding: 10px;
          border: 1px solid rgb(0, 0, 0);
        }

        .editorContainer {
          height: 100%;
          overflow: scroll;
          border: 1px solid rgb(0, 0, 0);

          .editor {
            height: 80%;
            width: 89%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid rgb(0, 0, 0);
          padding: 10px;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 20px;
          color: #000000;

          h1 {
            font-size: 20px;
          }

          .file {
            text-decoration: underline;
            cursor: pointer;
            color: rgb(0, 0, 0);
          }

          .buttons {
            display: flex;
            justify-content: space-between;

            :first-child {
              cursor: pointer;
              color: rgb(128, 90, 0);
              background-color: white;
              border: 1px solid rgb(244, 142, 8);
              padding: 3px 5px;
            }
            :last-child {
              cursor: pointer;
              color: white;
              background-color: rgb(244, 142, 8);
              border: 1px solid rgb(244, 142, 8);
              padding: 3px 5px;
            }
          }

          .cat {
            display: flex;
            align-items: center;
            gap: 2px;
            color: rgb(2, 2, 2);
          }
        }
      }
    }
  }
}
